/***** BEGIN My Account--->Profile *****/
#info{
	display: inline-block;
	margin-top:10px;

}

.profile{
	margin-top: 15px;
	margin-bottom: 25px;
}

.profile_row{
	margin-top: 5px;
	margin-bottom: 15px;
}

.profile_row table td{
	padding: 5px;
	width:200px;
	vertical-align: top;
}
/***** END My Account--->Profile *****/

/* New advanced search screen stuff */
.advSearchContent { /* Needed for IE7 compatibility: */
	width: 96%;
}

.groupSearchHolder {
	padding: 10px 10px 5px;
}

.groupSearchHolder .advRow {
	padding: 1px 0px;
}

.groupSearchHolder .advRow div {
	float: left;
	padding: 0px 2px;
}

.clearer {
	display: block;
	clear: both;
	height: 2px;
}

.groupSearchHolder span.clearer {
	display: block;
	clear: left;
}

.groupSearchDetails .join {
	padding-right: 5px;
	display: none;
}

.groupSearchHolder .label,.groupSearchHolder .join {
	width: 75px;
	text-align: right;
}

.addSearch {
	padding: 0px 0px 4px 90px;
}

.groupSearchHolder .terms {
	width: 250px;
}

.groupSearchHolder .terms input {
	width: 100%;
}

.groupSearchHolder .field {
	margin-left: 30px;
}

.group .groupSearchDetails {
	float: right;
	text-align: right;
	padding: 3px 5px;
}

.group0 .groupSearchDetails {
	/*border: 1px solid #D8D7D8;
	border-top: 0px;*/
}

.group1 .groupSearchDetails {
	border: 1px solid #94C632;
	border-top: 0px;
}

#searchHolder .group0 {
	/*border-top: 1px solid #D8D7D8;
	background: url(/images/gradient_grey.gif) repeat-y;*/
}

#searchHolder .group1 {
	border-top: 1px solid #94C632;
	background: url(/images/gradient_green.gif) repeat-y;
}

#searchHolder .group {
	margin-bottom: 10px;
}

.searchGroups {
	margin-bottom: 10px;
	padding: 2px 5px;
	font-size: 125%;
}

.searchGroups .searchGroupDetails {
	float: right;
}

.search .filterList h3,.search .filterList h4 {
	font-weight: bold;
}

.search .filterList h3 span {
	font-weight: normal;
	font-size: 80%;
}

.search .filterList input {
	vertical-align: middle;
}

.search .filterList ul {
	margin-bottom: 5px;
}

.keepFilters input {
}

.facetsTop td,.facetsTop th {
	padding-right: 15px;
}

.facetsTop th {
	font-weight: bold;
}

.facetsTop th span {
	font-weight: normal;
}
