/***** BEGIN My Account--->Profile *****/
#info{
	display: inline-block;
	margin-top:10px;

}

.profile{
	margin-top: 15px;
	margin-bottom: 25px;
}

.profile_row{
	margin-top: 5px;
	margin-bottom: 15px;
}

.profile_row table td{
	padding: 5px;
	width:200px;
	vertical-align: top;
}
/***** END My Account--->Profile *****/

