/* style.css */

body {
	font-family: verdana;
	font-size: 11pt;
}

.slider-wrapper {
	width:700px !important;
}

.header-back {
	position: absolute;
	z-index: -1;
	top:0;
	left:0;
	width:100%;
	height: 70px;
	background-color: #333;
	margin:0;
}

.header {
	margin:14px 0 0 0;
}

.invert-label {
	background-color: #474949;
	border:#474949 solid 1px;
	color: #fff;
}

.search-box label {
	min-width: 60px;
	color: #fff;
	margin:0 0 0 20px;
}

.search-box input.search-txt {
	width: 300px;
	margin:0 0 0 -20px;
}

.search-box select {
	width:120px;
}

.search-button {
	width: 50px;
	margin:0 0 0 -44px;
}

.main-page {
	margin:50px 0 0 0;
}

.footer {
	margin:30px 0 0 0;
	background-color: #333333;
	color: #fff;
}

.footer-container {
	margin:20px 0 20px 0;
	text-align: center;
}

.footer a {
	color: #a4b8c4;
}

.footer-links ul {
	list-style: none;
}

.footer-links li {
	width:150px;
	display: inline-block;
}

#footer-top ul{
    list-style: none;
}

#footer-top li{
    margin: 5px;
    display: inline;
}

#footer-bottom {
    margin-top: 5px;
    margin-bottom: 20px;
}

/* left panel */

.facets {
	background-color: #eeeecc;
}

.narrowGroupHidden {
	display: none;
}

/* center panel */

.items-found {
	margin:20px 0 20px 0;
	text-align:left;
}

.pagination {
	text-align: right;
}

.search-sort {
	display: inline;
}

.advanced-search-btn {
	display: inline;
}

/* search results */

.result {
	position: relative;
	clear: both;
	height: 200px;
}

.results-action-btns {
	position: absolute;
	z-index: 10;
	top:0;
	right:0
}

.imageColumn {
	float:left;
	display: inline-block;
	width:120px;
}

.resultsItemLine1 {
	clear: left;
}

.resultItemLine1 a.title {
	vertical-align: top;
	width:220px;
}

.resultItemLine2 {

}

.book-results-author  {
	font-size:11px;
}

.book-results .due-date {
	font-weight: bold;
}

.book-results .overdue-message {
	margin:10px 0 0 0;
	color: #f00;
}

.book-results .format-type {
	margin:10px 0 0 0;
}

.active-filter-list {
	margin:-15px 0 0 0;
}

.active-filter-list ul {
	list-style: none;
	width:180px;
	padding:0px;
	margin:0 0 20px 0;
}

.active-filter-list li {
	font-size:12px;
}

.filter-delete {
	float: right;
}

.panel-heading h3 {
	margin:0 0 0 0;
	font-size: 14px;
	font-weight: bold;
}

.accordion-heading {
	position: relative;
	height:50px;
}

.accordion-heading .btn-group-actions {
	display: none;
	position: absolute;
	top: 0;
	right: 20px;
	margin:10px 4px 0 0;
}

.accordion-inner {
	background-color: #f5f5f5;
}

.accordion-inner ul {
	margin:0 0 0 -20px;
	list-style: none;
}

.cover-image img {
	margin:0px auto;
}

.cover-image-econtent img {
	width: 53px;
	height: 80px;
}

.book-results {
	font-size: 12px;
}

.book-results ul {
	padding:0;
}

.book-results span {
	font-weight: bold;
}

.book-results .book-results-location {
	margin:5px 0 5px 0;
	color: #5cb85c;
	font-weight:bold;
}

.book-results-copies span {
	font-size:12px;
	font-weight: bold;
	color: #5cb85c;
}

.book-results-copies-bad span {
	font-size:12px;
	font-weight: bold;
	color: #f00;
}

.book-results a {
	display: block;
	margin:10px 0 10px 0;
}

.book-results-title {
	display: inline-block;
	margin:8px 0 0 0;
}

.book-results-title ul {
	margin:0 0 0 0;
	padding:0;
	list-style: none;
}

.accordion-toggle {
	display: inline;
	width:19px;
	height:19px;
	margin:13px 0 0 15px;
}

.accordion-toggle-collapse {
	background-image: url('../images/collapse_top.png');
	background-repeat: no-repeat;
}

.accordion-toggle-expand {
	background-image: url('../images/expand.png');
	background-repeat: no-repeat;
}

#show-all-button {
	width:100px;
}

.book-results-buttons a {
	float:right;
	margin:5px 0 0 0;
	width:120px;
}

.overdriveAvailable {

}

p.notification {
	color: #f00;
}

.accordion-group {
	border: 0;
}

.list-header {
	margin:20px 0 20px 0;
}

.list-header-second-line {
	list-style: none;
}

.list-header-second-line li {
	float: left;
}

.list-header-second-line .due-date {
	display: none;
	font-size:11px;
}

.list-header-second-line .overdue-message {
	display: none;
	font-size:11px;
	color: #f00;
}

.renew-checkboxes {
	text-align: right;
}

.renew-checkboxes label {
	font-size:12px;
	margin:5px 20px 0 0;
}

.btn-renew-all {
	text-align: right;
}

.btn-renew-all button {
	margin:0 0 0 0;
}

.side-nav .list-group-item {
	border: 0;
}

.return-btn {
	width:100px;
}

.renew-message {
	margin-top:20px;
	margin-bottom:20px;
}