/* style.css */

body {
	font-family: Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 12pt;
}

a.inactive-link {
	text-decoration: none;
	color: #a0a0a0;
}

a.inactive-link:hover {
	text-decoration: none;
	border: none;
	cursor: default;
}

/*.container {  Disabling Responsive Layout for Now 
	max-width: none;
	width: 1024px;
}*/

.slider-wrapper {
	width:700px !important;
	margin:20px auto 20px !important;
}

.modal {
	background-color:rgba(0,0,0,.7);
}

.modal-content {
	background-color:rgba(99,115,183,.9);
	color:#fff;
}

.header-back {
	position: absolute;
	z-index: -1;
	top:0;
	left:0;
	width:100%;
	height: 70px;
	background-color: #333;
	margin:0;
}

.header-back-search {
	height: 90px;
}

.header {
	margin:14px 0 0 0;
}

.invert-label {
	background-color: #474949;
	border:#474949 solid 1px;
	color: #fff;
} 

.label-warning {
	color:#000;
}

.search-box label {
	min-width: 60px;
	color: #fff;
	margin:0 0 0 20px;
}

.search-box input.search-txt {
	width: 300px;
	margin:0 0 0 -20px;
}

.search-box select {
	width:120px;
}

.search-button {
	width: 50px;
	margin:0 0 0 -44px;
}

.sidegroup {
	margin:-20px 0 0 0;
}

.main-page {
	margin:60px 0 0 0;
}

.main-page-search {
	margin:60px 0 0 0;
}

.footer {
	margin:30px 0 0 0;
	background-color: #333333;
	color: #fff;
}

.footer-container {
	margin:20px 0 20px 0;
	text-align: center;
}

.footer a {
	color: #a4b8c4;
}

.footer-links ul {
	list-style: none;
}

.footer-links li {
	width:180px;
	display: inline-block;
}

#footer-top ul{
    list-style: none;
}

#footer-top li{
    margin: 5px;
    display: inline;
}

#footer-bottom {
    margin-top: 5px;
    margin-bottom: 20px;
}

.splash-message {
	text-align: center;
}

.splash-message h3 {
	font-weight: bold;
	color: #336699;
}

.login-links {
	margin:0 0 30px 0;
}

.login-links ul {
	margin:0;
	padding:0;
	list-style: none;
}

.login-links a {

}

/* left panel */

.facets {
	background-color: #f8fffc;
}

.right-bar {
	background-color: #f8fffc;
}

.narrowGroupHidden {
	display: none;
}

/* center panel */

.items-found {
	margin:20px 0 20px 0;
	text-align:left;
}

.pagination {
	text-align: right;
}

.search-sort {
	display: inline;
}

.advanced-search-btn {
	display: inline;
}

/* search results */

.result {
	position: relative;
	clear: both;
	height: 200px;
}

.results-action-btns {
	position: absolute;
	z-index: 10;
	top:0;
	right:0
}

.imageColumn {
	float:left;
	display: inline-block;
	width:120px;
}

.resultsItemLine1 {
	clear: left;
}

.resultItemLine1 a.title {
	vertical-align: top;
	width:220px;
}

.resultItemLine2 {

}

.book-results-author  {
	font-size:11px;
}

.book-results .due-date {
	font-weight: bold;
}

.book-results .overdue-message {
	margin:10px 0 0 0;
	color: #f00;
}

.book-results .format-type {
	margin:10px 0 0 0;
}

.active-filter-list ul {
	list-style: none;
	width:180px;
	padding:0px;
	margin:0 0 20px 0;
}

.active-filter-list li {
	font-size:12px;
}

.filter-delete {
	float: right;
}

.panel-heading h3 {
	margin:0 0 0 0;
	font-size: 14px;
	font-weight: bold;
}

.accordion-heading {
	position: relative;
}

.accordion-heading .btn-group-actions {
	display: none;
	position: absolute;
	top: 0;
	right: 20px;
	margin:10px 4px 0 0;
}

.accordion-inner {
	padding:5px;
	min-height: 140px;
}

.accordion-inner ul {
	list-style: none;
}

.book-results {
	font-size: 12px;
}

.book-results ul {
	padding:0;
}

.book-results span {
	font-weight: bold;
}

.book-results .book-results-location {
	margin:5px 0 5px 0;
	color: #5cb85c;
	font-weight:bold;
}

.book-results-copies span {
	font-size:12px;
	font-weight: bold;
	color: #5cb85c;
}

.book-results-copies-bad span {
	font-size:12px;
	font-weight: bold;
	color: #f00;
}

.book-results a {
	display: block;
	margin:10px 0 10px 0;
}

.book-results-title {
	display: inline-block;
	margin:8px 0 0 0;
}

.book-results-title ul {
	margin:0 0 0 0;
	padding:0;
	list-style: none;
}

.accordion-toggle {
	display: inline;
	width:19px;
	height:19px;
	margin:13px 0 0 15px;
}

.accordion-toggle-collapse {
	position: absolute;
	top:0;
	left:-30px;
	background-image: url('../images/collapse_top.png');
	background-repeat: no-repeat;
	width:19px;
	height:19px;
}

.accordion-toggle-expand {
	position: absolute;
	top:0;
	left:-30px;
	background-image: url('../images/expand.png');
	background-repeat: no-repeat;
	width:19px;
	height:19px;
}

#show-all-button {
	width:100px;
}

.book-results-buttons a {
	float:right;
	margin:5px 0 0 0;
	width:120px;
}

.overdriveAvailable {

}

p.notification {
	color: #f00;
}

.accordion-group {
	border: 0;
}

.list-header {
	margin:20px 0 20px 0;
}

.list-header-second-line {
	list-style: none;
}

.list-header-second-line li {
	float: left;
}

.list-header-second-line .due-date {
	display: none;
	font-size:11px;
}

.list-header-second-line .overdue-message {
	display: none;
	font-size:11px;
	color: #f00;
}

.renew-checkboxes {
	text-align: right;
}

.renew-checkboxes label {
	font-size:12px;
	margin:5px 20px 0 0;
}

.btn-renew-all {
	text-align: right;
}

.btn-renew-all button {
	margin:0 0 0 0;
}

.side-nav {
	margin-left:20px;
}

.side-nav .list-group-item {
	border: 0;
	padding: 0;
	margin: 0 0 5px 0;
	color: #336699;
}

.return-btn {
	width:100px;
}

.renew-message {
	margin-top:20px;
	margin-bottom:20px;
}

.renew-message-success {
	color: #0c0;
}

.renew-message-fail {
	color: #fff;
}

.loading-message {
	margin:20px 0 20px 0;
}

.loading-cog {
	margin:auto;
	width:100%;
}

.loading-cog img {
	margin:auto;
	width:85px;
	height:138px;
}

.loading-message iframe {
	margin:auto;
}

.loading-message img {
	margin:auto;
}

.loading-container {
	text-align: center;
}

.dropdown-pickup-locations {
	height:200px;
    overflow-x:hidden;
}

.requested-items-collapsed {
	margin:0px 0 0 0;
}

.requested-results {
	list-style: none;
	padding:0;
}

.requested-results li {
	margin:0 0 -4px 0;
}

.requested-results li {
	font-size:1em;
}

.label-requested-results {
	display: inline-block;
	font-size:12px;

}

.label-checkedout-results {
	margin:0 15px 0 0;
}

.requested-results-actions {
	margin:7px 0 0 0;
}

.accordion-body {
	margin:0 0 20px 0;
	border-bottom:solid 2px #ededed;
}

.label-requested-results p {
	font-size:1.2em;
	margin:10px 0 0 0;
}

.requested-results-actions-checkboxes ul {
	margin:10px 10px 0 0;
}

.checkedout-results-actions-checkboxes label {
	margin:0 10px 0 0;
}

.requested-results-actions-location {
	margin:0 20px 0 0;
}

.author {
	font-size:0.75em;
}

.author a {
	color: #000;
}

.author a:hover {
	text-decoration: none;
	border-bottom:1px #909090 solid;
}

.accordion-body .thumbnail {
	text-align: center;
	margin:7px 0 0 0;
}

.cover-image {
	text-align: center;
}

.cover-image a {
	margin: auto;
	width:70px;
}

.cover-image img {
	width:65px;
	height:100px;
}

.requested-results-striped {
	
}

.results-title a {
	color: #000;
	font-size:1.2em;
}

.results-title a:hover {
	text-decoration: none;
	border-bottom:1px #909090 solid;
}

.results-status-header p {
	margin:5px 0 10px 0;
}

.pickup-location {
	padding-right:0;
	padding-top:5px;
}

.pickup-location span {
	font-weight: normal;
	font-size:0.85em;
}

.pickup-location-expanded {
	margin-top:8px;
}

.pickup-location-expanded label {
	margin:0 0 0 0;
	width:120px;
	/*-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	-moz-box-shadow: inset 0 0 5px #444;
	-webkit-box-shadow: inset 0 0 5px #444;
	box-shadow: inset 0 0 5px #444;*/
	padding:4px;
	color:#606060;
	font-size:0.85em;
	font-weight: bold;
	text-align: center;
}

.pickup-location-container {
	margin:0 0 10px 0;
}

.requested-results-format {
	height:26px;
}

.requested-results-format span {
	font-size:0.85em;
}

.results-header {
	display: none;
	padding: 5px;
	border-bottom:solid 2px #ededed;
	margin:0 0 0 0;
}

.location-well {
	margin:0 0 0 0;
	font-size:0.95em;
	width:330px;
	background-color:#fff;
}

.panel-default {
	background-color: #f8fffc;
}

.list-group-item {
	background-color: #f8fffc;
}

.book-cart {
	border: none;
}

.book-cart button {
	margin:5px 0 0 0;
}

#preferred_alternative #edit-button {
	margin:5px 0 0 0;
}

.welcome-user {
	padding:0;
	color:#fff;
	text-align: left;
}

.welcome-user p {
	margin:-5px 0 0 5px;
	padding:0;
}

.welcome-user a {
	margin:-5px 0 0 5px;
	color:#fff;
}

.welcome-user a:hover {
	text-decoration: none;
	border-bottom:solid #fff 1px;
}

.renew-count {
	font-size:0.85em;
}

.checkedout-econtent-buttons {
	margin:0 -4px 0 0;
}

.checkedout-return-btn a {
	margin:5px 0 5px 0;
}

.otherEditions {
	margin:5px 0 0 0;
	font-size:0.85em;
}

.otherEditions a {
	color: #336699;
}

.search-results {
	margin-top:20px;
}

.search-results-list {
	list-style: none;
	padding:0;
}

.search-results-list li {
	margin:0 0 5px 0;
}

.wishlist-batch-actions {
	margin:0 5px 0 0;
}

.wishlist-batch-actions li {
	text-align: left;
}

.wishlist-view-dropdown {
	margin:0 20px 0 0;
}

.wishlist-dropdown-actions {
	margin:0 15px 0 0;
}

.retain-filters {
	margin:6px 0 0 0;
	color:#fff;
}

.recordcoverWrapper {
	width:50%;
}

.book-cart-copy {
	margin:20px 0 20px 0;
}

.preferred-message-container {
	width: 100%;
}

.errorMessage{
	/*height:12px;*/
	color: red;
}

.preferred-message {
	width:60%;
	margin:0 auto;
}

.preferred-message p {
	display: inline-block;
	margin:10px 4px 10px 10px;
	color:#f00;
	font-size:11pt;
	text-align: center;
}

#adminMenuAccordion {
	height:200px;
	overflow-x: auto;
}

.notification-center-container {
	position: relative;
	font-size: 1em;
	margin:0 0 0 15px;
}

.notification-center-container span {
	font-size:1.2em;
	margin:0 10px 0 0;
}

.notification-center {
	display: none;
	position: absolute;
	z-index: 10;
	top:30px;
	width:100%;
	border:solid 3px #333333;
	background-color:#3c4d97;
	color: #fff;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	padding:12px;
}

.notification-center p {
	padding:6px;
	margin:0 0 6px 0;
	border-bottom:#cacaca solid 1px;
}

.notification-center p.notification-center-footer {
	border-bottom: none;
}

.notification-arrow-up {
	position: absolute;
	display:block;
	z-index: 12;
	top:-7px;
	left:17px;
	width:9px;
	height:4px;
	background-image: url('../images/arrow_up.png');
	background-repeat: no-repeat;
}

.godeeper-arrow {
	
	position: absolute;
	z-index:10;
	top:20px;
	left:40px;
}

.details-page-header {
	margin:20px 0 0 0 !important;
	color: #336699;
	font-weight: bold;
}

.details-page-header ul {
	list-style: none;
	padding:0;
	color: #333333;
	font-weight: normal;
}

.table-noborder td {
	border-top: none !important;
	padding: 0 !important;
}

.details-info {
	margin:20px 0 0 0;
}

#spellingSuggestions {
	margin:20px 0 0 0;
}
