.center-footer{
    height: 44px;
    display:table-cell;
    margin:0px;
    text-align: center;
}

#top ul{
    list-style: none;
}

#top li{
    margin: 5px;
    display: inline;
}

#bottom{
    margin-top: 5px;
    margin-bottom: 20px;
}