.help-content {
    font-family: Arial, Helvetica;
    font-size: 10pt;
}

ul.HelpMenu {
    float: left;
    width: 150px;
    background-color: #F0F0F0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
   
}

dl.help-content {
    border-left: solid 1px #999999;
    /*margin-left: 190px;*/
    padding-left: 10px;
    height: 430px;
    width: 390px;
    overflow: auto;
   
}

dl.help dt {
   font-weight: bold;
}

dl.help dd {
    padding: 0px;
    margin: 2px 0px 2px 10px;
}

pre.help {
    padding: 10px;
    margin: 10px;
    background-color: #EEEEEE;
    border: dashed 1px #999999;
    width: 300px;
}

.warning {
    color: red;
}

.faqQuestion{
	font-size: medium;
	color: blue;
	font-weight: bold;
	margin-top: 15px;
}

.faqAnswer{
	font-size: small;
    font-style: italic;
    margin-left: 1em;
}

h2.help {
	font-family: "Helvetica Neue Light", Helvetica, Sans-Serif;
	text-transform: uppercase;
	margin-bottom:10px;
	margin-top: 10px;
	font-size: 14px;
	
}

a.help:link,
a.help-link:link {
	font-family: "Helvetica Neue Light", Helvetica, Sans-Serif;
	color: #3366FF;
	text-decoration:none;
	font-weight:bold;
}

a.help:visited,
a.help-link:visited {
	font-family: "Helvetica Neue Light", Helvetica, Sans-Serif;
	color: #3366FF;
	text-decoration:none;
	font-weight:bold;
}
a.help:hover,
a.help-link:hover {
	font-family: "Helvetica Neue Light", Helvetica, Sans-Serif;
	color: #3366FF;
	text-decoration:none;
	font-weight:bold;	
}
a.help:active,
a.help-link:active {
	font-family: "Helvetica Neue Light", Helvetica, Sans-Serif;
	color: #3366FF;
	text-decoration:none;
	font-weight:bold;
}

.bold {
	font-weight: bold;
}